*{
	transition: 0.5s;
	margin: 0;
	padding: 0;
}

body{
	font-family: "Josefin Sans", sans-serif;
	font-weight: normal;
	font-size: 14px;
	color: #444444;
	text-rendering: optimizeLegibility;
	background: #fff;
	line-height: 1.8;
	max-width: 1900px;
	margin: 0 auto;
}

a{
	text-decoration: none !important;
	color: #444444;
	transition: color 0.2s; 
}
a:hover, a:active, a:focus{ 
	color: #444444;
}

ul{
	padding: 0;
	margin: 0;
	list-style-type: none;
}

img{
	width: 100%;
}
body::-webkit-scrollbar{
	width: 10px;

}

body::-webkit-scrollbar-thumb{
	background: #ddd;

}

#navbarNav::-webkit-scrollbar{
	width: 7px !important;

}

#navbarNav::-webkit-scrollbar-thumb{
	background: rgba(0, 0, 0, 0.5) !important;

}

table td, table th{
	vertical-align: middle !important;
}
.login_notif {
	background: #51adf6
}
.logo_and_contact{
	padding: 15px 0;
	transition: 0s;
}
.logo_and_contact .logo img{
	max-width:150px;
}

.logo_and_contact .banel{
	background: #fff;
}
.logo_and_contact .banel .bazon h4{
	text-align: center;
	font-size: 35px;
	color: #2196f3;
	margin-top: 10px;
}

.logo_and_contact .banel .bazon span{
	display: block;
	color: #7c7c7c;
	font-size: 18px;
}
.logo_and_contact .banel .contact {
	padding-left: 60px;
	padding-top: 5px;
	font-size: 14px;
}
.logo_and_contact .banel .contact p{
	margin-bottom: 2px;
	color: #7c7c7c;
}
.menu{
	z-index: 100;
}
.fixedMenu{
	position: fixed;
	top: 0;
	width: 100%;
}
.margin-when-fixed{
	margin-bottom: 55px;
	transition: 0s;
}
.menu .nav-menu{
	background-color: #2196F3; 
	padding-top: 0px;
	padding-bottom: 0px;

}
.menu .brand{
	font-size: 16px;
	color: #FFF;
}
#navbarNav{
	padding-bottom: 0px;
	padding-top: 0px;
}

.btn-search-mobile, .btn-search-mobile:focus{
	border: 1px solid rgba(255,255,255,.1);
	color: #fff
}

#mobile-search-toggle{
	padding: 10px 15px;
	border-bottom: 1px solid #ddd;
	background: #fff;
}

.btn-menu, .btn-menu:focus{
	height: 42px;
	outline: none;
	border: 1px solid #fff;
	width: 42px;
	padding: 3px 5px;
	position: relative;
	line-height: 42px;
	margin-top: 8px;
}

.menu .btn-menu span{
	background: #fff !important;
	position: relative;
	display: block;	
	height: 3px;
	text-align: center;
	transition: 0.5s;
}

.menu .btn-menu span#first{
	content: '';
	width: 100%;
	height: 3px;
	background: #fff;
	transition: 0.5s;
	margin-bottom: 5px;
	margin-top: 8px;
}

.menu .btn-menu span#second{
	content: '';
	width: 100%;
	height: 3px;
	left: 0;
	background: #fff;
	transition: 0.5s;
	margin-top: 5px;
	margin-bottom: 8px;
}

.menu .form-inline input{
	width: calc(100% - 41px - 0.5rem );
}

.menu .form-inline button i{
	color: #404040;
}
.menu .form-inline button{
	border-color: #eee !important;
	color: #404040;
}
.menu .form-inline .well-search:hover{
	background: #074d85;
}
.menu .list-menu{
	height: 55px;;

}
.menu .list-menu .item-menu {
	display: inline-block;
	position: relative;
	color: #fff;
}
.menu .list-menu .item-menu .icon-changed-vector{
	transition: all 1s ease-out;
}
.menu .list-menu .item-menu .icon-changed-vector:hover{
	
}
.menu .list-menu .item-menu .icon-sub{
	position: absolute;
	top: 15px;
	right: 15px;
	padding: 0;
	font-size: 22px;
}

.menu .list-menu .item-menu > .icon-sub{
	transform: rotate(90deg);
}
.menu .list-menu .item-menu:hover{
	background: #085795;
	color: #fff;
}
.menu .list-menu .item-menu:hover .icon-changed-vector{
	transform: rotate(90deg);
}

.menu .list-menu .item-menu a{
	color: #fff;
	display: block;
	line-height: 1em;
	padding-left: 25px;
	padding: 20px 20px;

}
.has-child-menu > a:nth-of-type(1){
	padding-right: 40px !important;
}
.menu .list-menu .sub-list-menu_1{
	top: 100%;
	left: 20px;
	position: absolute;
	background: #0c85e6;
	z-index: 10;
	width: 200px;
	transition: all 0.4s ease-out;
}
.menu .list-menu .sub-list-menu_1 .sub-item-menu_1, .menu .list-menu .sub-item-menu_n{
	border-top: 1px solid rgba(255, 255, 255, 0.3);
}
.menu .list-menu .sub-list-menu_1 .sub-item-menu_1:first-child , .menu .list-menu .sub-item-menu_n:first-child{
	border-top: none;
}
.menu .list-menu .sub-list-menu_n{
	top: 20px;
	position: absolute;
	left: 100%;
	background: #0c85e6;
	z-index: 20;
	width: 200px;
	transition: all 0.4s ease-out;
}
.menu .list-menu .sub-list-menu_1 .sub-item-menu_1:hover , .menu .list-menu .sub-item-menu_n:hover{
	background: #0075be;
}

.user-profile-content{
	padding: 0 15px;
	color: #fff;
	width: 100%;
	padding-top: 30px;
}

.user-profile-content h3{
	font-size: 20px;
	margin-top: 10px;
}

.user-profile-action a{
	color: #fff;
}

/* slide*/
.contain{
	display: inline-block;
	width: 100%;
}

.contant .silde-bar .loged{
	padding: 5px;
	border: 1px solid #eee;
	margin-top: 5px;
}
.contant .silde-bar .loged .img-loged{
	text-align: center;
}
.contant .silde-bar .loged .img-loged img{
	max-width: 100px;
	max-height: 100px;
}
.contant .silde-bar .loged .info-loged{
	text-align: center;
	padding: 15px 0;
}
.contant .silde-bar .loged .info-loged h4{
	margin-bottom: 15px;
}
.contant .silde-bar .loged .info-loged .profile-loged a{
	color: #118ef2;
}
.contant .silde-bar .loged .info-loged .out-loged a{
	color: #f33426;
}

.product-item{
  padding: 0;
  padding-top: 15px;
}

.product-item + .product-item{
	padding-left: 7.5px;
}

.product-item .product-item-content{
  box-sizing: border-box;
  border: 1px solid #eee;
  position: relative;
  transition: 0.5s;
  background: #fff;
}

.product-item .product-item-content:hover{
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
  z-index: 1;
  transform: scale(1.1);
}

.product-item .pr-img{
  padding: 7.5px;
}

.product-item .pr-info{
  padding-top: 15px;
  bottom: 0;
  left: 0;
  padding: 7.5px;
  background: url('https://image.freepik.com/free-vector/abstract-medical-bright-background_1017-8761.jpg') top right;
  border: 1px solid #eee;
}

.product-item .pr-title{
  font-size: 16px;
  font-family: sans-serif;
  color: #fff;
  line-height: 17px;
}

.pr-price{
  color: #F44336;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 18px;
}

.owl-prev, .owl-next{
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	color: #fff;
	text-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
	font-size: 50px;
	padding: 5px;
}

.owl-next{
	left:  auto;
	right: 0;
}

.header-title span{
	color: #404040;
	font-size: 18px;
	padding: 0px 8px;
	display: inline-block;
}

.header-title{
	border-bottom: 2px solid #ddd;
	position: relative;
}

.header-title:before{
	content: '';
	height: 2px;
	position: absolute;
	bottom: -2px;
	width: 80%;
	background: #2196F3;
}

#breadcrumb-content{
	margin-top: 15px;
}

.bread-crumb{
	width: 100%;
	display: inline-block;
	position: relative;
	border-bottom: 2px solid #ddd;
}
.bread-crumb:before{
	content: "";
	height: 2px;
	width: 80%;
	position: absolute;
	background: #2196f3;
	bottom: -2px;


}
.bread-crumb .bread-item{
	color: #2196f3;
}

.contant .silde-bar .blue{
	background: #2196F3;
	margin: 5px 0px;
	color: #fff;
	text-align: center;
	font-size: 17px;
	
}

.contant .silde-bar .profile a{
	display: block;
	
}

.contant .silde-bar .profile .blue:hover{
	background: #51adf6;
	
}

.contant .silde-bar .profile{
	padding: 0;
	
}

.contant .silde-bar .form{
	margin-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	z-index: 300;
	border: 1px solid #eee;
}

.contant .silde-bar .form input{
	border-radius: 0;
	padding: 8px 15px;
	margin-top: 8px;
	
}

.contant .silde-bar .form #submit{
	cursor: pointer;
	
}

.contant .silde-bar, .contant .main-content{
	margin-bottom: 20px;
	
}

.sidebar-item{
	margin-top: 15px;
}

.like-news-no-main{
	padding-top: 5px;
}
.like-news-no-main .main-news{
	padding-bottom: 20px;
}
.like-news-no-main .main-news  img{
	width: 100%;
	margin: 0 auto;
	display: block;
}
.like-news-no-main .info-no-main{
	padding-top: 10px;
}
.like-news-no-main .info-no-main .seemore{
	float: left;
}
.like-news-no-main .main-news  .header-name{
	font-size: 15px;
}

.big-news .title{
	padding: 10px 0;
	margin-bottom: 0;
	font-size: 20px;
	color: #2196f3;
}
.seemore{
    float: right;
}
.seemore span{
	color: #2196f3;
}
.main-news{
	overflow: hidden;
	font-size: 12px;
	box-shadow: 1px 1px 5px rgba(255, 255, 255, 1.8);
	padding: 10px 15px;
	border: 1px solid #eee;
}

.main-news + .main-news{
	border-top: 0;
}

.main-news:hover{
	background: #f5f5f5;
}

.main-news .header-name{
	font-size: 16px;
	margin-bottom: 0;
}